<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://www.dropbox.com/scl/fi/umiluo1znv927fey16i3o/Li-n-Qu-n-Mobile_1.56.11265701_1733214239.ipa</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.yourname.mycoolapp</string>
                    <key>bundle-version</key>
                    <string>1.0.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>LienQuanMobile</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
